body {
    width: 1500px;
    border: 10px double black;
    padding: 0%;
    text-align: center;
}
hr{
   border :  3px solid black  ;
   width: 500px;
}
li{
    display: inline;
    margin-right: 10px;
}
li:hover{
    cursor: pointer;
    color: red;
}
